---
import Layout from "/src/layouts/Layout.astro";
import Header from "/src/components_en/Header.astro";
import ContactForm from "/src/components_en/Contact.astro";
import Footer from "/src/components_en/Footer.astro";
import HeroSection from "/src/components_en/HeroSection.astro";
---

<Layout title="Contact - KMF Janitorial Services">
	<Header />
	<main>
		<HeroSection
			title="Contact Us"
			highlightText="Contact"
			description="We are happy to assist you with any questions about our janitorial and moving services."
		/>
		<ContactForm />
	</main>
	<Footer />
</Layout>
