---
import Layout from '/src/layouts/Layout.astro';
import Header from '/src/components_en/Header.astro';
import Hero from '/src/components_en/Hero.astro';
import Features from '/src/components_en/Features.astro';
import Newsletter from '/src/components_en/Newsletter.astro';
import Footer from '/src/components_en/Footer.astro';
---

<Layout title="KMF Products">
  <Header />
  <main>
    <Hero />
    <Features />
    <Newsletter />
    
    <script>
      if (!localStorage.getItem("langRedirected")) {
        const preferredLang = navigator.language || navigator.userLanguage;
        const supported = ["de", "en"];
        const shortLang = preferredLang.split("-")[0];

        if (supported.includes(shortLang) && shortLang !== "de") {
          localStorage.setItem("langRedirected", "true");
          window.location.replace(`/${shortLang}`);
        }
      }
    </script>
  </main>
  <Footer />
</Layout>
