---
import Layout from '/src/layouts/Layout.astro';
import Header from '/src/components/Header.astro';
import PricingCmp from '/src/components/Preise.astro';
import Newsletter from '/src/components/Newsletter.astro';
import Footer from '/src/components/Footer.astro';
import HeroSection from '/src/components/HeroSection.astro';
---

<Layout title="Preise - KMF Products">
  <Header />
  <main>
    <HeroSection 
      title="Einfache, transparente" 
      highlightText=" Preisgestaltung"
      description="Wählen Sie den Plan, der am besten zu Ihrem Unternehmen passt. Alle Pläne beinhalten eine 14-tägige kostenlose Testversion ohne erforderliche Kreditkarte."
    />
    <PricingCmp />
    <Newsletter />
  </main>
  <Footer />
</Layout>
